/*Controls on top overwrites*/
div#table_container div.caption {
  padding-bottom: 0px;
}

div#table_container div.table-footer {
  padding-top: 0px;
  padding-bottom: 0px;
}

div#table_container .table-mode div#table-mode-description {
  display:none;
}

div#table_container .table-mode .switch label {
  width: 5.5em;
  font-size: .8em;
  margin-top: 29px;
}

div#table_container div.dataTables_paginate {
  margin-top: 18px;
}

div#table_container div.table-details {
  font-size: .8em;
  margin-top: 36px;
}

div#table_container div.table-details div {
  display: inline-block;
}

div#table_container div.dataTables_length {
  padding-left: 15px;
}

div#table_container div.dataTables_length select.input-sm {
  height: 19px;
  padding: 0px 10px;
}

div#table_container div.export-table {
  padding-left: 15px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

div#table_container .export-table div#export-table-description {
  margin-top: -11px;
}

div#table_container div.export-table button {
  padding: 2px 8px;
  margin-top: -23px;
}

div#table_container div.filter-format {
  padding-left: 15px;
}

div#table_container .table-mode  div#table-mode-instructions, div#table_container .table-mode div#filter-mode-instructions{
  display: none;
}

/* When advanced controls break onto their own line */
@media (max-width: 1200px) {
  div#table_container div.table-details {
    margin-top: 5px;
    padding-left: 20px;
  }
  div#table_container a#reset_filters {   
  display: none;
  }
}

div#table_container a#reset_filters {   
  right: 40%;
  z-index: 1000;
  width: 80px;
}
