/* FAR needs to be wide! */

/* shrink! */
div#table_container {
    width: 100%;
    font-size:  1.0em;
}

/* Allow column headers from wrapping */
div#table_container thead th { 
    white-space: normal; 
}

